#tabs-4 ul {
    column-count: 2;
}

.container {
    margin: 1%;
}

.grid {
    display: grid;
    grid-template-columns: 100% 100%;
    height: 800px;
    width: 800px;
}
#tabs-3{
    height: 800px;

}

#tabs-3 ul{
    column-count: 3;
}

input {
    width: 20%;
    margin-bottom: 1%;
}

p {
    font-weight: bold;
    text-decoration: underline;
}

.error h2 {
    color: darkred;
}

.description {
    border: solid black 3px;
}

.description>h3 {
    text-decoration: underline;
    font-weight: 100;
    margin-left: 1%;
}

.button {
    margin: 1% 1%;
    width: 95%;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    background-color: #33bdef;
    border-radius: 6px;
    border: 1px solid #057fd0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 1px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #5b6178;
    color: white;
}

.button:hover {
    background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    background-color: #019ad2;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.import {
    margin-top: 1%;
    width: 95%;
}
